[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IPEDSuploadables"]
	path = IPEDSuploadables
	url = https://github.com/alisonlanski/ipedsuploadables
